#page-pokemons{
  width: 100vw;
  height: 100vh;

  position: relative;
  display: flex;  
}

#page-pokemons input {
  max-width: 220px;
  
}

#page-pokemons button{
  background: #3263E1 !important;
}

#page-pokemons .create-pokemon {
  position: absolute;
  right: 4em;
  bottom: 4em;

  width: 60px;
  height: 60px;
  
  display: flex;
  align-items: center;
  justify-content: center;

  background: red;
  border-radius: 30px;

  transition: background-color 1s;
}

#page-pokemons .create-pokemon:hover {
  background: red;
}

#page-pokemons main {
  display: flex;
  align-items: center;

  width: 800px;
  /*max-height: 100vh; */

  margin: 2em 2em 2em 4em;

  background: url('../images/pokedex.png') no-repeat 100% center;
}